#title {
    text-align: center;
}

.flexbox-container-new-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-container {
    width : 30%;
    height : 0%;
    margin: 10px;
    border: 0px solid;
    border-color:black
}

.checkbox-container-item-1 {
    border: 1px solid;
    margin-top: 5%;
    margin-left: 40%;
}

.checkbox-container-item-2 {
    border: 1px solid;
    margin-top: 3%; 
    margin-left: 4s0%;
}

#cell {
    max-width:90%;
    height:auto;
}

.submitbutton {
    margin-top: 10%;
    margin-left: 50%;
}
