<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class='flexbox-container-new-row'>
        <div class='checkbox-container'>
            <div>
                <input type='checkbox' name='yes0' class='yescheckboxes' id='0'> <label for='yes'>CTC</label>
            </div>
                <input type='checkbox' name='no0' class = 'nocheckboxes' id='0'> <label for='yes'>not-CTC</label>
            </div>  
            <div class= 'checkbox-container'>
                <img src='<%=firstImagePath%>' alt='This image was originally intended to display a row of cell images' id='cell'>
            </div>
    </div>
    <button type="submit" id="submitButton">Submit</button>
    <script src="/static/init_html_elements.js" charset="utf-8"></script>
    <script src="/static/validate_form_submission.js" charset="utf-8"></script>
</body>
</html>