body {
    background-color: white;
    border-left: 0px solid white;
    padding: 10px;
}

#formDiv {
    margin-top: -1%;
    margin-left: -3%;
}

#welcomeImage {
    margin-left: 12%;
    width: 80%;
    height: auto;
    top: 0;
}

#instructionsImage {
    margin-left: 12%;
    width: 80%;
    height: auto;
    top: 0;
}

#headerImage {
    margin-left: 12%;
    width: 80%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* login page */
#loginFormInstructions {
    text-align: center;
    font-family: "Arial";
    font-size: 1.5vw;
}

#loginFormDiv {
    margin-left: 41.16%;
}

.login-fields-div {
    margin-top: 1%;
}

.login-fields {
    width: 27.9%;
    border: 2px solid rgba(100, 98, 98, 0.856); /* grey */ 
    font-family: Arial;
    font-size: 1.25vw;
}

.login-fields[type=text] {
    font-family: Arial;
    color: white;
}

/*** Page 1 - Page n Row Styling ***/

.new-image-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxes-container {
    margin-left: -8.7%;
    max-width: 30%;
    background: rgba(100, 98, 98, 0.856);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.cell-image-row-container {
    width : 37%;
    height : 0%;
    margin: -1px;
    margin-left: 1%;
    border: 0px solid;
    border-color:black
}

#cellImage {
    display: inline-block;
    max-width:130%;
    min-width: 37%;
    height:auto;
    border: 0.25em solid rgba(248, 245, 245, 0.829);
}

#progressPageOneDiv {
    margin-top: 0.5%;
    margin-left: 51.7%;
    font-family: Arial;
    font-size: 1.25vw;
}

#progressPageTwoDiv {
    margin-top: -4%;
    margin-left: 51.25%;
    font-family: Arial;
    font-size: 1.25vw;
}

/*****Radio Btn Styling*****/

.radio-btn-labels {
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    color: white;
    font-family: Arial;
    font-size: 1.3vw;
}

.default-radio-btns {
    display: none;
}

.custom-radio-btns {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid RGB(100,98,98);
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 3px;
}

.custom-radio-btns::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    background: RGB(180,91,56);
    transform: scale(0);
}

.default-radio-btns:checked + .custom-radio-btns::after {
    transform: scale(1);
    z-index: 0;
}


/*****Page Btn Styling*****/

.btn {
    cursor: pointer;
    margin-top: 3%;
    margin-bottom: 6%;
    margin-left: 50.5%;
    background: RGB(180,91,56);
    color: white;
    font: bold 1.5vw Arial;
    height: 3vw;
    width: 8vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    -webkit-appearance: none;
}

.returnbtn {
    cursor: pointer;
    margin-left: 50%;
}

.right-btn {
    margin-left: 1%;
}

/* welcome page */
#beginBtn {
    margin-top: 5%;
    margin-left: 50.5%;
}


/* login page */
#resetLoginBtnDiv {
    margin-left: 36.75%;
}

.right-btn-div {
    margin-left: 1%;
}

#resetLoginBtnDiv, #submitLoginBtnDiv {
    margin-top: 2%;
    margin-bottom: 5%;
    display: inline-block;
}


/* page 1 */
#nextBtn {
    margin-bottom: 1%;
    margin-left: 52.23%;
}


/* pages 2-4 */
#previousBtnDiv, #nextBtnDiv {
    display: inline-block;
}

#previousBtn {
    font-size: 1.4vw;
}

#previousBtnDiv {
    margin-left: 43.5%;
}


/* page 5 */
#continueBtn {
    font-size: 1.4vw;
}
#continueBtnDiv, #previousBtnDiv {
    display: inline-block;
}


/* review page */

#previousBtnDiv, #submitBtnDiv {
    margin-top: 4%;
    margin-bottom: 5%;
    display: inline-block;
}

#previousBtnReviewPageDiv {
    margin-left: 39.25%;
}

#submitBtnReviewPageDiv, #previousBtnReviewPageDiv {
    margin-top: 4%;
    margin-bottom: 5%;
    display: inline-block;
}

#submitBtn {
    font-size: 1.4vw;
}


/***Review Page Styling***/

#reviewMessageHeaderDiv {
    text-align: center;
    margin-bottom: 1%;
    font-family: Arial;
    font-size: 1.3vw;
}

#reviewMessageResultsDiv {
    text-align: center;
    margin-bottom: 1%;
    font-family: Arial;
    font-size: 1.3vw;
}

#reviewMessagePagesDiv {
    text-align: center;
    margin-bottom: 1%;
    font-family: Arial;
    font-size: 1.3vw;
}

a:visited {   
    color: rgb(13, 13, 196);   
}


/***Results Page Styling***/

#pageHeaderDiv {
    position: fixed;
    width: 100vw;
    height: 2.75vw;
    top: 0;
    left: 0;    
    background-color: RGB(180,91,56);
}

#overallResults {
    text-align: center;
    font-family: Arial;
    font-size: 2.5vw;
    color: white;
}

#resultsMessage {
    text-align: center;
    color: black;
    /* font-size: 1.5vw; */
}

#bufferDiv {
    margin: 3%;
}

#resultsImg {
    width: 60%;
    margin-left: 20%;
}

#bottomPadding {   
    margin-bottom: 10%;   
}

.cell-type {
    text-align: center;
}

.types {
    font-size: 5vw;
    font-weight: 0;
}

.message-div {
    padding-top: 2%;
    text-align: center;
    font-size: 2vw; 
}

.show-type-btn {
    cursor: pointer;
    background: RGB(180,91,56);
    color: white;
    font: bold 1vw Arial;
    margin-left: 41.5%;
    width: 8vw;
    padding-left: 0.5vw;
    white-space: nowrap;
    overflow: hidden;
}

.show-all-type-btn {
    cursor: pointer;
    background: RGB(180,91,56);
    color: white;
    font: bold 1vw Arial;
    margin-left: 1%;
    width: 8vw;
    padding-left: 0.5vw;
    white-space: nowrap;
    overflow: hidden;
}

.header-divs {
    font-family: Arial;
}

.label-types {
    text-align: center;
    font-size: 1.925vw;
}

.data-messages {
    text-align: center;
    font-size: 1.335vw;
    margin-top: -1%;
    margin-bottom: 1%;
}

.show-all-type-btn, .show-type-btn {
    display: inline-block;
}

.line-breaks {
    height: 1px;
    background-color:rgba(100, 98, 98, 0.856);
}


