body {
    background-color: white;
    border-left: 0px solid white;
    padding: 10px;
}

body,html {
    margin:0;
    padding:0;
}

#title {
    text-align: center;
}

#wholepage {
    height: 900px;
    margin-top:auto;
    margin-bottom:auto;
    width: 900px;
    margin-left:auto;
    margin-right:auto;
    min-width: 1300px;
    min-height:1300px;
}

#headerDiv {
    margin-bottom: 12.2%;
}

#headerDiv #headerImage {
    height: 28%;
    margin-left: 21.5%;
    position: fixed;
    box-shadow:0px 0px 0px #666;
    border-bottom: 2px solid rgb(3, 3, 3);
}

#directions {
    width:777px;
    height:20px;
    border:1px;
    background: white;
    margin-left: 21.5%;
    position : fixed;
    padding-bottom: 1.5%;
    border-bottom: 1.5%;
}

.cellType {
    font: bold 14px "Arial";
    position: absolute;
    bottom: 3px;
    left: 0;
    color:RGB(65,65,65);
}

#cellType0 {
    margin-left: 15.8%;
    color: RGB(0,176,80);
    margin-right: -0.1%;
}

#slash{
    font: bold 15px "Arial";
    margin-left: 25.6%;
    color: RGB(65,65,65);
}

#cellType1 {
    color: RGB(144,59,132);
    margin-left: 26.5%;
}

#cellType2 {
    margin-left: 35.2%;
}

#cellType3 {
    margin-left: 50%;
}

#cellType4 {
    margin-left: 69.5%;
}

#cellType5 {
    margin-left: 84%;
}

#content {
    margin-top: 5%;
}

.flexbox-container-new-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    width: 1.3em;
    height: 1.3em;
}

.checkbox-container {
    /* margin-left: -7.5%; */
    margin-left: -10%;
    background: rgba(100, 98, 98, 0.856);
}

.checkbox-label {
    color: white;
    font-family: "Arial";
    margin-left: 8px; 
}

.checkbox-label input {
    vertical-align: middle;
  }

.checkbox-label label span {
    vertical-align: middle;
}

.cell-container {
    width : 37%;
    height : 0%;
    margin: -1px;
    margin-left: 1%;
    border: 0px solid;
    border-color:black
}

#cell {
    display: inline-block;
    max-width:130%;
    height:auto;
    border: 5px solid rgba(248, 245, 245, 0.829);
}

#submitButton {
    margin-top: 1%;
    margin-left: 54.5%;
    background: RGB(180,91,56);
    color: white;
    font: bold 15px "Arial";
    margin-left: 51.5%;
}

.returnbutton {
    margin-left: 50%;
}

#pnew {
    color: white;
    margin-left: 43.5%;
    font-size: larger;
}

#newimg {
    margin-left: 26%;
}