body {
    background-color: white;
    border-left: 0px solid white;
    padding: 10px;
}

body,html {
    margin:0;
    padding:0;
}

#title {
    text-align: center;
}

#formDiv {
    margin-top: 0%;
}

#wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#headerImage {
    margin-left: 21.5%;
    width: 60%;
    max-width: 60%;
    height: auto;
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
}

#two {
    margin-top: 1%;
    grid-template-rows: 100px 300px;
    width: 60%;
    position: sticky;
    top: 27%;
    height: 60%;
    margin-left: 21.5%;
    max-height: 32%;
}

#directions {
    width:777px;
    height:20px;
    border:1px;
    background: white;
    margin-left: 21.5%;
    position : fixed;
    padding-bottom: 1.5%;
    border-bottom: 1.5%;
}

.cellType {
    margin-top: 2%;
} 

#content {
    margin-top: 5%;
}

.new-image-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxes-container {
    margin-left: -8.7%;
    max-width: 30%;
    background: rgba(100, 98, 98, 0.856);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.checkbox {
    width: 1vw;
    height: 1vw;
}

.checkbox-label {
    color: white;
    font-family: "Arial";
    font-size: 1vw;
}

.checkbox-label input {
    vertical-align: middle;
  }

.checkbox-label label span {
    vertical-align: middle;
}

.cell-row-image-container {
    width : 37%;
    height : 0%;
    margin: -1px;
    margin-left: 1%;
    border: 0px solid;
    border-color:black
}

#cellImage {
    display: inline-block;
    max-width:130%;
    min-width: 37%;
    height:auto;
    border: 5px solid rgba(248, 245, 245, 0.829);
}

.cellType {
    font-size: 1vw;
}

#type1 {
    margin-left: 15.8%;
    color: RGB(0,176,80);
}

#type2 {
    margin-left: 0%;
}

#type3 {
    margin-left: -0.25%;
    color: RGB(144,59,132);
}

#type4 {
    margin-left: 2.9%;
}

#type5 {
    margin-left: 7.5%;
}

#type6 {
    margin-left: 10%;
}

#type7 {
    margin-left: 13%;
}

.button {
    margin-top: 1%;
    margin-left: 54.5%;
    background: RGB(180,91,56);
    color: white;
    font: bold 15px "Arial";
}

.returnbutton {
    margin-left: 50%;
}

#pnew {
    color: black;
    margin-left: 43.5%;
    font-size: larger;
}

#newimg {
    margin-left: 26%;
}